.Hero {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    background: #f7f7f7;
}

/* Image */
.Hero_images {
    width: 100%;
    height: 100%;
}

.Hero_images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: imgentery 0.5s ease-in-out;
}

@keyframes imgentery {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

/* Slider arrows */
.Hero_slider {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 20px;
}

.Hero_left,
.Hero_right {
    width: 40px;
    height: 40px;
    background: #de322c;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.Hero_left:hover,
.Hero_right:hover {
    background: black;
}

/* Dots */
.Hero_buttons {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.Hero_buttons button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: #ccc;
    cursor: pointer;
}

.Hero_buttons button.active {
    background: #000;
    transform: scale(1.3);
}


.Hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: go-up 1s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes go-up {
    0% {
        transform: translate(-50%, 10%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


.Hero-text p {
    text-transform: uppercase;
    font-size: 1.5rem;
    white-space: nowrap;
}

.Hero-text h1 {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 5rem;
    font-weight: bold;
    word-spacing: 10px;
    letter-spacing: 2px;
    white-space: nowrap;
}


.Hero-text button {
    width: 100px;
    padding: 10px 5px;
    background-color: #DE322C;
    color: white;
    border: 5px;

}

.Hero-text h1 span:first-child {
    color: #FFB700;
}


/* Responsive */

@media (max-width: 1000px) {
    .Hero-text h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (max-width: 768px) {
    .Hero {
        height: 250px;
    }
    .Hero-text {
        gap: 10px;
    }
    .Hero-text h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media (max-width: 450px) {
    .Hero-text h1 {
        font-size: 2.3rem;
        line-height: 2.5rem;
        word-spacing: 5px;
    }
    .Hero {
        height: 250px;
        gap: 5px;
        width: 100%;
    }
    .Hero_images {
        width: 100%;
        height: 100%;
    }
    .Hero_slider {
        display: none;
    }
 
   .Hero-text button {
        width: 70px;
        padding: 5px 2px;
    }
    .Hero_buttons {
        gap: 5px;
        bottom: 5px;
    }
    .Hero_buttons button {
        width: 5px;
        height: 5px;
    }
}