.Shop-banner {
    width: 100%;
    height: 110px;
    background: linear-gradient(90deg, #f7f7f7 70%, #ededed);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
}



/* Title */
.Shop-banner h1 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 2px;

}

/* Breadcrumb */
.Shop-banner p {
    font-size: 0.85rem;
    color: #666;
    text-transform: capitalize;
}




.Shop-banner p span:nth-child(1):hover {
    color: #DE322C;
    cursor: pointer;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
    .Shop-banner {
        height: 100px;
    }

    .Shop-banner h1 {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .Shop-banner {
        height: 90px;
    }

    .Shop-banner h1 {
        font-size: 1.3rem;
    }

    .Shop-banner p {
        font-size: 0.8rem;
    }
}