.Categery {
    width: 100%;
    padding: 10px 50px;
}

.categery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    padding: 10px 20px;
}



@media (max-width: 900px) {
    .categery-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 600px) {
    .categery-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 450px) {
    .Categery {
        padding: 0;
    }
    .categery-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}